<!DOCTYPE html>
<head>
<script type="text/javascript" src="/javascripts/script.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
</head>
<body>
  <div class="flex-grid-large">
    <div id="image"></div>
<div class="image-wall">
  <div class="header-bar">How They Wear It</div>
  <div class="row-flex-6">
    <div class="column">
      <div class="image large"></div>
      <div class="row-flex-2">
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
    <div class="column">
      <div class="row-flex-2">
        <div class="image"></div>
        <div class="image"></div>
      </div>
      <div class="image large"></div>
    </div>
  </div>
  <div class="row-flex-6">
    <div class="column">
      <div class="image large"></div>
      <div class="row-flex-2">
        <div class="image"></div>
        <div class="image"></div>
      </div>
    </div>
    <div class="column">
      <div class="row-flex-2">
        <div class="image"></div>
        <div class="image"></div>
      </div>
      <div class="image large"></div>
    </div>
  </div>
</div>

</body>
</html>